*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 35, 48);
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow:hidden;
  transition: 0.2s
}

a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

a span {
  position:absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3)
}

a:hover span:nth-child(1) {
  left: 100%;
  transition:1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3)
}

a:hover span:nth-child(3) {
  right: 100%;
  transition:1s;
  transition-delay: 0.5s
}

a span:nth-child(2) {
  top: 100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3)
}

a:hover span:nth-child(2) {
  top: 100%;
  transition:1s;
  transition-delay: 0.25s
}

a span:nth-child(4) {
  bottom: 100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3)
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition:1s;
  transition-delay: 0.75s
}

.header
{
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1000;
}
.header h1
  {
      width: 50%;
      margin: 0px;
      left: 5%;
      top: 25%;
      position: relative;
      color: rgb(20, 245, 231);
      font-family: 'Baloo 2', cursive;
      font-size: 60px;
    }

.header ul
    {
      float: right;
      width: 100%;
      list-style-type: none;
      margin-top: -15px;
    }
.header nav ul li
    {
      display: inline;
      margin: 30px;
      font-size: 5px;
      font-weight: lighter;
    }

.topnavigation {
      display: table;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 100px;

    }

.topnavigation li {
    color: inherit;
    }



    /* GRID IMAGES */

    .gridImages
    {
      width: 70%;
      height: 100vh;
      margin: auto;
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 5px;
      grid-column-gap: 30px;
      text-align: center;
      padding-top: 15%;
    }
    .gridImages div img
    {
      width: 100%;
    }

    /* END GRID IMAGES */


    /* ------------------------------------------------------------ */


    /* GRID VIDEOS */

    .gridVideos
    {
      width: 80%;
      height: 90vh;
      bottom: 100px;
      margin: auto;
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 1fr 1fr;
    }
