
body
{
  margin: 0;
  padding: 0;
  background-color:rgb(24, 43, 60);
  color: white;
  font-family: sans-serif;

}


header
{
  width: 100%;
  height: 10vh;
}
nav
{
  margin: 0;
  padding: 0;
}
nav ul
{

  display: block;
  float: right;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 10vh;
  font-family: 'Caveat', cursive;
}
nav ul li
{
  margin-right: 10px;
  float: right;
  display: inline-block;
  height: 100%;
  width: 22%;
  text-align: center;
  line-height: 10;
}
nav ul li a
{
  padding: 10%;
  font-size: 2.3vw;
  color: white;
  text-decoration: none;
  transition: color .3s;
}
nav ul li a:hover
{
  color: #6b6b6b;
}

header div
{
  width: 50%;
  float: left;
}
.logo
{
  width: 15%;
  height: 10vh;
  margin-left: 5vw;
  text-align: center;
  line-height: 3;
  font-size: 40px;
  font-family: 'Caveat', cursive;
}

h1
{
  margin: 0;
  margin-top: 10vh;
  float: right;
  font-size: 12vw;
  text-align: right;
  line-height: .8;
}
h2
{
  margin: 0;
  float: left;
  font-size: 6vw;
  text-align: left;
}

.grid
{
  margin: auto;
  padding-top: 150px;
  display: grid;
  grid-template-areas:
  ". p  t ."
  ". t2  p2 ."
  ". p3  t3 .";
  grid-template-columns: .1fr .6fr .6fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid div:first-child
{
  grid-area: p;
}
.grid div:nth-child(2)
{
  grid-area: t;
}
.grid div:nth-child(3)
{
  grid-area: p2;
}
.grid div:nth-child(4)
{
  grid-area: t2;
}
.grid div:nth-child(5)
{
  grid-area: p3;
}
.grid div:nth-child(6)
{
  grid-area: t3;
}

.grid img
{
  width: 100%;
  opacity: 0;
}

.paragraph
{
  padding: 3vw;
  font-size: 1.2vw;
}

footer
{
  height: 20vh;
}
